<section class="general">

    <div class="navigation py-4">
        <div class="container">
            <div class="nav-content d-flex align-items-center justify-content-between">
                <img class="logo" src="img/nav/logo.png" alt="">
                <button class="nav-btn d-sm-block d-none" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Бесплатная консультация</button>
                <button class="nav-btn-mob d-sm-none d-block" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"></button>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="quiz">
            <!-- при last-step добавляется класс container-pading -->
            <div class="container">

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-wrapper">
                        <div class="left-block">
                            <h1 class="first-title">Как СПИСАТЬ ВСЕ ДОЛГИ
                                БЕЗ БАНКРОТСТВА в Самаре?</h1>
                            <h3 class="first-title__mini">Нет давлению ФССП и коллекторов!</h3>
                            <p class="first-text">
                                Пройди тест и СПИШИ ДОЛГИ БЕЗ БАНКРОТСТВА, с сохранением имущества.
                            </p>
                            <!-- on first card add class - btn-first -->
                            <button class="btn-next btn-first">Пройти тест</button>
                        </div>
                        <img class="quiz-img-first" src="img/main/quiz-1.png" alt="">

                        <div class="right-block">
                            <p class="right-info-1">учавствуй в программе</p>
                            <p class="right-info-2">КРЕДИТНАЯ АМНИСТИЯ</p>
                            <p class="right-info-3">и спишите все кредитные долги законно</p>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-2.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Какая у Вас сумма долга сейчас?</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" checked name="radio" class="input-quiz">
                                            <p class="text-quiz">до 300 000 рублей</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">от 500 001 до 1 000 000 рублей</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">от 300 001 до 500 000 рублей</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">от 1 000 001 рублей</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-3.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Задолженность перед:</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Банками</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">МФО, МКК</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Государственными органами</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">Физическими лицами</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Юридическими лицами</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-4.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Есть ли движимое или недвижимое <br> имущество? (кроме
                                единственного жилья)</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Есть</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">Не имеется</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-5.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Доход официальный или не официальный?</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Официальный</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Нет дохода</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">Не официальный</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Пенсия</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-6.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Есть ли у Вас ипотека?</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Есть, куда же без нее</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">Нет, слава богу</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-7.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">В какое время вам удобно получить звонок?</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">с 10:00 до 14:00</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">с 18:00 до 22:00</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">с 14:00 до 18:00</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general">
                        <img class="quiz-img" src="img/main/quiz-8.png" alt="">

                        <div class="quiz-genearal__block">
                            <p class="general-text">Как СПИСАТЬ ВСЕ ДОЛГИ БЕЗ БАНКРОТСТВА в Самаре? Нет давлению ФССП и
                                коллекторов!</p>
                            <h2 class="title-medium">Если не удастся с Вами связаться, то <br class="d-sm-block d-none">
                                в какой мессенджер написать?</h2>

                            <form action="" class="form">

                                <div class="form-block">
                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Whats App</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">Viber</p>
                                        </label>
                                    </div>

                                    <div class="form-label">
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" checked class="input-quiz">
                                            <p class="text-quiz">Telegram</p>
                                        </label>
                                        <label for="radio" class="label-quiz">
                                            <input type="radio" name="radio" class="input-quiz">
                                            <p class="text-quiz">СМС</p>
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-navigation">
                                    <button class="btn-back">Назад</button>
                                    <button class="btn-next">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="quiz-content" style="display: none;">
                    <div class="quiz-general flex-lg-row flex-column">
                        <img class="flag-last-step d-sm-block d-none" src="img/main/flag.png" alt="">

                        <!-- last-step при 575px добавляется класс quiz-general__block--padign -->
                        <div class="quiz-genearal__block quiz-general__block--padign">
                            <h2 class="title-medium title-medium-lastStep">Итак, по ходу теста мы выявили, <br
                                    class="d-xl-block d-none">
                                что у Вас есть возможность списать <br class="d-lg-block d-none"> все долги на 100%.
                            </h2>
                            <p class="general-text general-text-lastStep">Чтобы получить федеральную программу КРЕДИТНАЯ
                                АМНИСТИЯ <br class="d-lg-block d-none">
                                и СПИСАТЬ ВСЕ ДОЛГИ на 100% оставьте заявку!</p>
                            <h4 class="title-footer d-lg-none d-block mb-3 mb-md-4 text-white text-uppercase">Бонусы
                                после
                                прохождения</h4>

                            <div class="quiz-lastStep-footer d-lg-flex d-none align-items-start">
                                <div class="quiz-lastStep-footer__left">
                                    <div class="footer-element d-flex align-items-center mb-4">
                                        <img class="footer-img" src="img/footer/f-1.png" alt="">
                                        <p class="footer-element__text text-white">Защита от коллекторов <br> и банков
                                        </p>
                                    </div>
                                    <div class="footer-element d-flex align-items-center mb-4">
                                        <img class="footer-img" src="img/footer/f-2.png" alt="">
                                        <p class="footer-element__text text-white">Защита имущества</p>
                                    </div>
                                    <div class="footer-element d-flex align-items-center mb-0">
                                        <img class="footer-img" src="img/footer/f-3.png" alt="">
                                        <p class="footer-element__text text-white">Сохраним ваши <br> финансы</p>
                                    </div>
                                </div>
                                <div class="quiz-lastStep-footer__right">
                                    <div class="footer-element d-flex align-items-center mb-4">
                                        <img class="footer-img" src="img/footer/f-4.png" alt="">
                                        <p class="footer-element__text text-white">Процедура в 5 раз <br> быстрее</p>
                                    </div>
                                    <div class="footer-element d-flex align-items-center mb-0">
                                        <img class="footer-img" src="img/footer/f-5.png" alt="">
                                        <p class="footer-element__text text-white">Не оставляем <br> черных меток</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastStep-from d-flex flex-column align-items-center">
                            <p class="text-form">
                                Укажите Ваше имя и телефон, нажмите кнопку "Отправить", чтобы передать анкету старшему
                                юристу.
                            </p>
                            <form action="" class="form-modal d-flex flex-column align-items-center w-100">
                                <input class="input-modal mb-3" placeholder="Имя" type="text">
                                <input class="input-modal mb-4" placeholder="+7 (___) ___ - __ - __" type="tel">
                                <button class="btn-from text-center" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- при LAst-step скрыть обе картинки (d-none) при 992 версии открываем класс line-desc со стандартными стилями
                , при 575 открываем класс LINE-MOB, со стандартными стилями -->

            <img class="line-desc d-sm-block d-none" src="img/main/line-desc.png" alt="">
            <img class="line-mob d-sm-none d-block" src="img/main/line-mob.png" alt="">
        </div>

        <!-- при last-step убираем обе эти картинки вообще -->
        <img class="flag d-sm-block d-none position-absolute" src="img/main/flag.png" alt="">
        <img class="flag-mob d-sm-none d-block position-absolute" src="img/main/flag.png" alt="">

    </div>

    <!-- При поледнем шаге скрываем footer, добавив класс d-lg-none d-block в html -->
    <div class="footer">
        <div class="container">
            <h4 class="title-footer mb-4 mb-md-3 text-md-start text-sm-center text-start">Бонусы после прохождения</h4>

            <div
                class="footer-content d-flex justify-content-md-between justify-content-start align-items-lg-start align-items-sm-center align-items-start flex-wrap flex-md-row flex-column">
                <div class="footer-element d-flex align-items-center my-md-2 my-4 mt-0 mx-lg-0 mx-md-auto mx-sm-0">
                    <img class="footer-img" src="img/footer/f-1.png" alt="">
                    <p class="footer-element__text">Защита от коллекторов <br> и банков</p>
                </div>
                <div class="footer-element d-flex align-items-center my-md-2 my-4 mx-lg-0 mx-md-auto mx-sm-0">
                    <img class="footer-img" src="img/footer/f-2.png" alt="">
                    <p class="footer-element__text">Защита имущества</p>
                </div>
                <div class="footer-element d-flex align-items-center my-md-2 my-4 mx-lg-0 mx-md-auto mx-sm-0">
                    <img class="footer-img" src="img/footer/f-3.png" alt="">
                    <p class="footer-element__text">Сохраним ваши <br> финансы</p>
                </div>
                <div class="footer-element d-flex align-items-center my-md-2 my-4 mx-lg-0 mx-md-auto mx-sm-0">
                    <img class="footer-img" src="img/footer/f-4.png" alt="">
                    <p class="footer-element__text">Процедура в 5 раз <br> быстрее</p>
                </div>
                <div class="footer-element d-flex align-items-center my-md-2 my-4 mb-0 mx-lg-0 mx-md-auto mx-sm-0">
                    <img class="footer-img" src="img/footer/f-5.png" alt="">
                    <p class="footer-element__text">Не оставляем <br> черных меток</p>
                </div>
            </div>
        </div>
    </div>
</section>