<div class="modal-thanks-quiz position-fixed" style="display: none;">
    <div class="close-block w-100 d-flex justify-content-end mb-5">
        <img src="img/modal/close.png" alt="">
    </div>
    <div class="modal-thanks-quiz__content d-flex justify-content-center align-items-center flex-column">
        <img class="mb-5" src="img/modal/ok-common-modal.svg" alt="">
        <h4 class="modal-thanks-quiz__title mb-md-5 mb-4">Спасибо за ответы</h4>
        <p class="modal-thanks-quiz__text text-center mb-md-5 mb-4">Ваши ответы приняты в <br> обработку.</p>
        <p class="modal-thanks-quiz__text text-center"> В ближайшие 10 минут с Вами <br> свяжется юрист.</p>
    </div>
</div>