<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex justify-content-center align-items-center flex-column">
                <button type="button" class="btn-close modal-btn-close-modal position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <p3 class="text-title-modal-btn text-white text-center"><span class="text-dark">Финансовая
                        правовая</span><br>амнистия</p3>
                <h1 class="modal-btn-title mt-4 mb-4">Обратный <br>
                    звонок</h1>

                <form class="d-flex flex-column w-100" action="">
                    <input class="modal-btn-input mb-2" type="text" placeholder="Имя">
                    <input class="modal-btn-input mb-2" type="tel" placeholder="Телефон">
                    <button class="btn-general">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-btn-thanks" style="display: none;">
    <div
        class="modal-btn-thanks__content position-relative d-flex flex-column justify-content-center align-items-center">
        <div class="modal-yhanks-btn-closed position-absolute d-flex justify-content-end">
            <img class="" src="img/modal/close.png" alt="">
        </div>
        <img class="modal-btn-thanks__img mb-4" src="img/modal/ok-btn-modal.svg" alt="">
        <h4 class="modal-thanks-quiz__title mb-md-5 mb-4">Заявка
            отправлена</h4>
        <p class="modal-thanks-quiz__text text-center">Мы получили вашу заявку <br> Наш менеджер свяжится с вами.</p>
    </div>
</div>

<!-- data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" -->